[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
python-telegram-bot = "*"
python-dotenv = "*"
pytz = "*"
"backports.zoneinfo" = "*"

[requires]
python_version = "3.8"
